require 'require_all'
require_all '/opt/ruby/lib'

{{#operations}}{{#operation}}
def {{operationId}}(event, context)
  puts "{{operationId}} is still working"

=begin
Params
   
{{#allParams}}   {{paramName}} | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}fi**{{dataType}}**{{/isFile}}{{^isFile}}{{#generateModelDocs}}[**{{dataType}}**]({{baseType}}.md){{/generateModelDocs}}{{^generateModelDocs}}**{{dataType}}**{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}}| {{description}} |{{^required}} [optional]{{/required}}{{#defaultValue}} [default to {{{defaultValue}}}]{{/defaultValue}}{{#allowableValues}} [enum: {{#values}}{{{.}}}{{^-last}}, {{/-last}}{{/values}}]{{/allowableValues}}
{{/allParams}}
=end

=begin
ReturnType

{{#returnType}}
{{#returnTypeIsPrimitive}}{{returnType}}{{/returnTypeIsPrimitive}}
{{^returnTypeIsPrimitive}}{{#generateModelDocs}}[**{{returnType}}**]({{returnBaseType}}.md){{/generateModelDocs}}{{^generateModelDocs}}**{{returnType}}**{{/generateModelDocs}}{{/returnTypeIsPrimitive}}
{{/returnType}}
{{^returnType}}   null (empty response body)
{{/returnType}}=end

  # TODO implement API
  {{#returnType}}{{#returnTypeIsPrimitive}}
  # TODO use mock data type to return type
  {};
  {{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}
  # retrieve type from models
  {{#generateModelDocs}}{{#returnSimpleType}}{{returnBaseType}}(){{/returnSimpleType}}{{^returnSimpleType}}{{#returnType}}{{List}}[{{returnBaseType}}()]{{/returnType}}{{/returnSimpleType}}{{/generateModelDocs}}{{^generateModelDocs}}// NOT generateModelDocs{{returnType}}{{/generateModelDocs}}{{/returnTypeIsPrimitive}}
  {{/returnType}}

  {{^returnType}}
  #empty response
  {};
  {{/returnType}}
=begin
  {
    "foo":"bar"
  }
=end
end{{/operation}}{{/operations}}
