require 'json'
{{#operations}}{{#operation}}require_relative './{{operationId}}'
{{/operation}}{{/operations}}

=begin
 Lambda function for {{classname}} routes
 {{#description}}{{description}}{{/description}}
=end

def handler(event:, context:)

  # match based on httpMethod and path
  {{#operations}}{{#operation}}
  # {{httpMethod}} {{path}}
  {{#-first}}if event['httpMethod'] == '{{httpMethod}}' && {{#hasRequiredParams}}event['resource'] == '{{path}}'{{/hasRequiredParams}}{{^hasRequiredParams}}event['path'] == '{{path}}'{{/hasRequiredParams}}
    puts "{{httpMethod}} {{path}}"
    result = {{operationId}}(event, context)
  {{/-first}}{{^-first}}elsif event['httpMethod'] == '{{httpMethod}}' && {{#hasRequiredParams}}event['resource'] == '{{path}}'{{/hasRequiredParams}}{{^hasRequiredParams}}event['path'] == '{{path}}'{{/hasRequiredParams}}
    puts "{{httpMethod}} {{path}}"
    result = {{operationId}}(event, context)
  {{/-first}}
  {{/operation}}{{/operations}}
  else 
    result = {}
  end

  puts "debug info"
  puts result

  # honor lambda proxy format
  {
    statusCode: 200,
    headers: {
      "Content-Type": 'application/json',
      "x-debug-path": event['path'],
      "x-debug-resource": event['resource'],
    },
    body: JSON.generate(result)
  }

end
