require 'faker'
require 'date'

def {{classname}}
    { {{#models}}{{#model}}{{#parent}}Not used{{#parentVars}}**{{name}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{complexType}}.md){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}{{/parentVars}}{{/parent}}
    {{#vars}}
        {{name}}: {{^isPrimitiveType}}{{! handle enums }}{{#isEnum}}{{#_enum}}{{#-first}}{{#isString}}"{{.}}"{{/isString}}{{^isString}}{{.}}{{/isString}}{{/-first}}{{/_enum}}{{/isEnum}}{{! handle single types }}{{^isEnum}}{{^isModel}}{{#isString}}Faker::Types.rb_string(){{/isString}}{{#isBoolean}}Faker::Boolean.boolean(){{/isBoolean}}{{#isArray}}[{{#items}}{{^isModel}}Faker::Types.rb_string(){{/isModel}}{{#isModel}}(require_relative './{{dataType}}') ? {{dataType}}() : {}{{/isModel}}{{/items}}]{{/isArray}}{{#isBinary}}Faker::Types.rb_string(){{/isBinary}}{{#isDate}}DateTime.now(){{/isDate}}{{#isDateTime}}DateTime.now(){{/isDateTime}}{{#isEmail}}Faker::Internet.email(){{/isEmail}}{{#isFile}}Faker::File.file_name(){{/isFile}}{{#isMap}}Faker::Json.add_depth_to_json(){{! TODO implement}}{{/isMap}}{{#isNumeric}}{{#isDouble}}Faker::Number.decimal(){{/isDouble}}{{#isNumber}}Faker::Number.number(){{/isNumber}}{{#isLong}}Faker::Number.number(){{/isLong}}{{#isFloat}}Faker::Number.decimal(){{/isFloat}}{{#isInteger}}Faker::Number.number(){{/isInteger}}{{/isNumeric}}{{/isModel}}{{#isModel}}(require_relative './{{dataType}}') ? {{dataType}}() : {}{{/isModel}}{{/isEnum}}{{/isPrimitiveType}}{{#isPrimitiveType}}NOT USED{{/isPrimitiveType}},
    {{/vars}}
    }
end{{/model}}{{/models}}
