service: openapi-generator-serverless-lambda-nodejs
frameworkVersion: '2'

useDotenv: true
configValidationMode: error

plugins:
  - serverless-localstack
  - serverless-ruby-layer

custom:
  localstack:
    host: http://localhost
    edgePort: 4566
    debug: true
    stages:
     - local
     - dev
  rubyLayer:
    use_docker: true

provider:
  name: aws
  region: us-east-1
  runtime: ruby2.7
  lambdaHashingVersion: 20201221
  tracing:
   lambda: true

layers:
  rubyUtility:
    path: layers
    description: Layer that contains all the API Services
    compatibleRuntimes:
      - ruby2.7
      
functions:
{{#generateApiDocs}}
{{#apiInfo}}
{{#apis}}
{{#operations}}
  {{classname}}:
    handler: functions/{{classname}}/handler.handler
    layers:
      - { Ref: RubyUtilityLambdaLayer }
    events:
{{#operation}}
      - http:
          path: {{path}}
          method: {{httpMethod}}
          {{#allParams}}
          {{^isBodyParam}}
          {{#-first}}
          request:
            parameters:
          {{/-first}}
              {{#isPathParam}}
              {{#-first}}
              paths:
              {{/-first}}
              # {{description}}
                {{paramName}}: {{#required}}true{{/required}}{{^required}}false{{/required}}
              {{/isPathParam}}
              {{#isQueryParam}}
              {{#-first}}
              querystrings:
              {{/-first}}
              # {{description}}
                {{paramName}}: {{#required}}true{{/required}}{{^required}}false{{/required}}
              {{/isQueryParam}}
              {{/isBodyParam}}
          {{/allParams}}      
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
{{/generateApiDocs}}
