{{#generateModelDocs}}{{#modelPackage}}{{#models}}{{#model}}
require_relative './{{classname}}'{{{modelDocPath}}}{{/model}}{{/models}}
{{/modelPackage}}{{^modelPackage}}
# no model defined in this package
{{/modelPackage}}{{/generateModelDocs}}

object = {}
integer = {}
